---
---

@import "{{ site.theme }}";

// Code Highlighting

pre.highlight {
  position: relative;

  .copy {
    color: #fff;
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    opacity: 0;

    &:active,
    &:focus,
    &:hover {
      background: #8b949e; 
      opacity: 0.5;
      cursor: pointer;
    }
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    background: #8b949e;
    opacity: 0.5;
  }
}
